{{- $profile := includeTemplate "profile" . | trim -}}
{{- if eq $profile "wsl" -}}
{{ .chezmoi.homeDir }}/.config/opencode/work.json
{{- else -}}
{{ .chezmoi.homeDir }}/.config/opencode/personal.json
{{- end }}
