{{- $profile := includeTemplate "profile" . | trim -}}
[settings]
idiomatic_version_file_enable_tools = ["java", "node", "python"]
{{ if eq $profile "arch" -}}
system_packages.managers = ["pacman"]
{{ end }}
[settings.java]
shorthand_vendor = "temurin"

[settings.go]
set_gobin = false

[settings.node]
corepack = true

{{ if eq $profile "arch" -}}
[bootstrap.packages]
"pacman:git" = "latest"
"pacman:git-lfs" = "latest"
"pacman:github-cli" = "latest"
"pacman:zsh" = "latest"
"pacman:bat" = "latest"
"pacman:fd" = "latest"
"pacman:fzf" = "latest"
"pacman:ripgrep" = "latest"
"pacman:btop" = "latest"
"pacman:duf" = "latest"
"pacman:eza" = "latest"
"pacman:mosh" = "latest"
"pacman:base-devel" = "latest"
"pacman:chezmoi" = "latest"
"pacman:mkcert" = "latest"
"pacman:docker" = "latest"
"pacman:docker-compose" = "latest"
"pacman:tailscale" = "latest"
"pacman:lazydocker" = "latest"
"pacman:tmux" = "latest"

[bootstrap.services.docker]
state = "running"
enabled = true

[bootstrap.services.tailscaled]
state = "running"
enabled = true
{{ end }}
[tools]
bun = "latest"
go = "latest"
neovim = "nightly"
node = "lts"
python = "latest"
rust = "latest"
uv = "latest"
"aqua:max-sixty/worktrunk" = "latest"
"aqua:bootandy/dust" = "latest"
"aqua:starship/starship" = "latest"
"aqua:atuinsh/atuin" = "latest"
"aqua:sxyazi/yazi" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:ajeetdsouza/zoxide" = "latest"
"aqua:jesseduffield/lazygit" = "latest"
"aqua:tree-sitter/tree-sitter" = "0.26.11"
"cargo:papercuts" = { version = "latest", depends = ["rust"] }
"npm:@playwright/cli" = "latest"
"npm:@earendil-works/pi-coding-agent" = "latest"
"npm:neovim" = "latest"
"pipx:pynvim" = { version = "latest", depends = ["uv"] }
"pipx:sqlit-tui" = { version = "latest", depends = ["uv"] }
{{- if eq $profile "wsl" }}
chezmoi = "latest"
{{- else if or (eq $profile "macos") (eq $profile "arch") }}
java = ["17", "11"]
maven = "latest"
"pipx:posting" = { version = "latest", depends = ["uv"] }
{{- end }}

[tools.odin]
version = "latest"
bin_path = "."

[tools.odin.platforms]
linux-x64 = { strip_components = 1, bin_path = "." }
macos-arm64 = { strip_components = 1, bin_path = "." }
