{{- $profile := includeTemplate "profile" . | trim -}}
[settings]
idiomatic_version_file_enable_tools = ["java", "node", "python"]

[settings.java]
shorthand_vendor = "temurin"

[settings.go]
set_gobin = false

[settings.node]
corepack = true

[tools]
bun = "latest"
go = "latest"
neovim = "nightly"
node = "lts"
python = "latest"
uv = "latest"
"aqua:max-sixty/worktrunk" = "latest"
"aqua:bootandy/dust" = "latest"
"aqua:starship/starship" = "latest"
"aqua:atuinsh/atuin" = "latest"
"aqua:sxyazi/yazi" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:ajeetdsouza/zoxide" = "latest"
"aqua:jesseduffield/lazygit" = "latest"
"aqua:tree-sitter/tree-sitter" = "0.26.11"
"npm:@playwright/cli" = "latest"
"npm:@earendil-works/pi-coding-agent" = "latest"
"npm:neovim" = "latest"
"pipx:pynvim" = { version = "latest", depends = ["uv"] }
{{- if eq $profile "wsl" }}
chezmoi = "2.71.1"
{{- else if or (eq $profile "macos") (eq $profile "arch") }}
java = ["17", "11"]
maven = "latest"
"pipx:posting" = { version = "latest", depends = ["uv"] }
{{- if eq $profile "arch" }}
"pipx:harlequin" = { version = "latest", depends = ["uv"], extras = ["postgres", "mysql"] }
{{- end }}
{{- end }}

[tools.odin]
version = "latest"
bin_path = "."

[tools.odin.platforms]
linux-x64 = { strip_components = 1, bin_path = "." }
macos-arm64 = { strip_components = 1, bin_path = "." }
