{{- $profile := includeTemplate "profile" . | trim -}}
{{- if eq $profile "windows" -}}
{{-   template "lazygit/config-windows.yml" . -}}
{{- else -}}
{{-   template "lazygit/config-unix.yml" . -}}
{{- end -}}
