{{- $profile := includeTemplate "profile" . | trim -}}
[core]
	excludesFile = ~/.config/git/ignore

{{ if or (eq $profile "arch") (eq $profile "macos") (eq $profile "windows") (eq $profile "wsl") -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
{{ end -}}

[github]
	user = jeffhertzler
[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = Jeff Hertzler
	email = jeffhertzler@gmail.com

# This file is intentionally unmanaged and may contain machine-specific values.
[include]
	path = ~/.config/git/local.config
